* {
    margin: 0;
    padding: 0;
}

header {
    color:hotpink;
}

.my-class{
    color:chartreuse;
}

li {
    color: blue;
}

#my-id {
    color:crimson;
}

#another-id{
    color:darkmagenta;
}

li .my-links{
    color:black;
    text-decoration: none;
    padding:18px;
}

